body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.namehighlight{
    color: orangered;
}
.half1{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half1 img{
    width: 100%;
}